*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Segoe UI",sans-serif;

    background:
    linear-gradient(
        rgba(0,0,0,.65),
        rgba(0,0,0,.65)
    ),
    url("../imagens/friren.jpg");
    background-size:cover;
    background-position:center;
    background-attachment: fixed;

    color:white;
}

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:40px;
}

.hero-conteudo{

    max-width:900px;
}

.tag{

    display:inline-block;

    padding:10px 20px;

    border-radius:30px;

    background:rgba(0,200,255,.15);

    border:1px solid rgba(0,200,255,.3);

    color:#00c8ff;

    margin-bottom:25px;
}

.hero h1{

    font-size:70px;

    margin-bottom:20px;
}

.hero p{

    font-size:24px;

    margin-bottom:35px;

    color:#d6d6d6;
}

.hero-botoes{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;
}

.btn{

    background:#00c8ff;

    color:#08111f;

    padding:15px 35px;

    border-radius:12px;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;
}

.btn:hover{

    transform:translateY(-5px);

    box-shadow:0 0 25px rgba(0,200,255,.5);
}

.btn-secundario{

    border:2px solid #00c8ff;

    color:#00c8ff;

    padding:15px 35px;

    border-radius:12px;

    text-decoration:none;

    transition:.3s;
}

.btn-secundario:hover{

    background:#00c8ff;

    color:#08111f;
}

.estatisticas{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

    padding:80px 10%;
}

.estatistica{

    width:360px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border-radius:20px;

    padding:30px;

    text-align:center;
}

.estatistica h2{

    color:#00c8ff;

    font-size:45px;
}

.sobre,
.categorias,
.livros{

    padding:100px 10%;

    text-align:center;
}

.sobre h2,
.categorias h2,
.livros h2{

    font-size:45px;

    margin-bottom:30px;
}

.sobre p{

    max-width:900px;

    margin:auto;

    font-size:20px;

    line-height:1.8;
}

.cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

    margin-top:40px;
}

.card{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border-radius:20px;

    padding:30px;

    transition:.3s;
}

.card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 25px rgba(0,200,255,.3);
}

.card h3{

    margin-bottom:15px;

    color:#00c8ff;
}

footer{

    text-align:center;

    padding:60px;

    background:rgba(0,0,0,.4);
}

@media(max-width:768px){

    .hero h1{

        font-size:45px;
    }

    .hero p{

        font-size:18px;
    }

}